@import '../../styles/variables.scss';

.main {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 160px;
  grid-auto-rows: calc(100vh - 160px);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'search  body'
    'chats  body';

  & > div {
    border: 1px solid $color-grey-100;
  }

  &__search {
    grid-area: search;
    height: 120px;
    padding: 20px 30px;
    background: $color-grey-200;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__chats {
    grid-area: chats;

    overflow-x: scroll;
    background: $color-white-100;

    .chats__title {
      color: $color-blue;
      font-size: 24px;
      font-weight: 500;
      padding: 20px 30px;
    }
  }
  &__body {
    grid-area: body;
    background: $color-white-200;
    display: flex;
    flex-direction: column;
  }

  &__conversation {
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
  }

  @media (max-width: 640px) {
    grid-template-rows: 70px;
    grid-auto-rows: calc(100vh - 70px);
    grid-template-areas:
      'search  search'
      'chats  body';

    &__search {
      height: 30px;

      flex-direction: row;
      align-items: center;
      gap: 20px;
    }

    &__avatar {
      flex-shrink: 0;
    }
    &__chats {
      .chats__title {
        padding: 0;
        text-align: center;
      }
    }
  }

  @media (max-width: 530px) {
    grid-template-columns: 80px auto;
  }
}
