@import '../../styles/variables.scss';

.message {
  height: 60px;
  background: $color-grey-200;
  border-top: 1px solid $color-grey-100;

  padding: 10px 60px 10px 10px;

  &__box {
    margin: 10px 20px 10px 40px;
    border-radius: 20px;
    position: relative;
    background: $color-white-200;
    border: 1px solid $color-grey-600;
    padding-right: 50px;
  }

  &__input {
    border: none;
    border-radius: 20px;
    outline: none !important;
    resize: none;
    color: $color-grey-500;
    padding-top: 10px;
    font-size: 20px;
    height: 36px;
    margin: 0;

    width: 100%;
    padding-left: 10px;

    overflow: hidden;
  }

  textarea:focus:-webkit-placeholder {
    color: transparent;
  }

  &__submit {
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 30px;
    height: 20px;
    width: 20px;
    background: transparent;
    border: none;
    padding: 6px 10px;
    outline: none !important;

    cursor: pointer;
  }
}
