.chat {
  display: flex;
  justify-content: start;
  align-items: center;

  &__avatar {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
  }

  &__name {
  }
  &__lastMsg {
  }
  &__date {
  }
}
