.avatar {
  width: 45px;
  height: 45px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .online {
    position: absolute;
    left: 62%;
    top: 75%;
    width: 20px;
    height: 20px;
  }
}
