@import '../../styles/variables.scss';

.message {
  display: flex;
  gap: 20px;
  padding: 14px;
  margin: 0 0 25px 0;

  position: relative;
  clear: both;

  &__avatar {
    flex-shrink: 0;
  }

  &__self {
    float: right;
    color: $color-black;

    .message__content {
      background-color: $color-grey-700;
    }

    .message__timestamp {
      text-align: right;
      left: 20%;
    }
  }

  &__other {
    float: left;
    color: $color-white-100;

    .message__content {
      background-color: $color-black;
    }

    .message__timestamp {
      left: 40%;
    }
  }

  &__content {
    border-radius: 20px;
    padding: 10px 20px;
    word-wrap: break-word;

    max-width: 440px;

    text-align: center;
  }

  &__timestamp {
    width: 80px;
    font-size: 9px;
    color: $color-grey-500;
    margin-top: 8px;
  }

  @media (max-width: 640px) {
    &__content {
      max-width: 240px;
    }
  }
}
